@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
img{
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif !important;
}
p{
    font-size: 17px;
    color: #839393;
}
#header.scrolled{
    background: #fff;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}
.scrolled .main-nav a{
    color: #000;
}
.scrolled .main-nav a.active{
    color: #00776d;
    border-color: #00776d;
}
.main-header.navbar {
    color: #fff;
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scrolled .logo a{
    color: #3a3a3a;
}
.logo a {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0px 2.2px 0px #000;
}
.logo a span{
    color: #00776d;
}
.main-nav{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.main-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #00776d;
}
.main-nav a.active{
    color:#fff;
    border-bottom: 2px solid #fff;
}
.text-reveal{
    overflow:hidden;
    white-space:nowrap;
    color: #00776d;
}
.section{
    position: relative;
}
.all_section_spacey{
    padding: 80px 0;
}
.banner-wrapper{
    position: relative;
}
.banner-bg-img{
    background-image: url('home-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}
.banner-bg-img .bg-overlay{
    background-color: rgba(37, 45, 49, .6);
    background-image: none;
}
.bg-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(131deg, #0f5650, transparent);
}
a.btn {
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
}
a.btn-white {
    background-color: #ffffff;
    border-color: #ffffff;
}
a.btn-white:hover {
    background-color: #00776d;
    border-color: #fff;
    box-shadow: 0px 8px 20px -6px rgba(255, 255, 255, .6);
    transform: translateY(-6px);
}
.menu-bar{
    display: none;
}
.nav-sign-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
a.btn-primary{
    background-color: #00776d;
    border-color: #00776d;
}
a.btn:hover{
    background-color: #fff;
    color: #00776d;
    transform: translateY(-6px);
    box-shadow: 0px 8px 20px -6px rgba(255, 255, 255, .6);
    border-color: #00776d;
}
.nav-sign-btn .menu-bar {
    background: transparent;
    box-shadow: none;
    border: none;
    color: #fff;
    font-size: 25px;
}
.banner-content h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.4;
}
.banner-btn {
    margin-top: 30px;
}
.quick-sec a .down-arrow-sec{
    color: #000;
}
.quick-sec a {
    background-color: #fff;
    border: 1px solid #00776d;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    border-radius: 30px;
    position: absolute;
    top: -25px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}
.quick-sec {
    position: relative;
}
.template-feature-txt h2{
    font-size: 28px;
}
.feature-cards{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}
.feature-cards::before{
    content: "";
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all .5s ease;
    z-index: -1;
}
.feature-cards:hover:before{
    width: 100%;
    height: 100%;
    background-color: #00776d56;
}
.card-left-icon i{
    color: #00776d;
    font-size: 32px;
}
.card-right-txt h3{
    font-size: 20px;
}
.card-right-txt a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #152c5c;
    font-size: 16px;
    gap: 5px;
}
.card-right-txt a i{
    font-size: 10px;
}
.marketing-txt ul{
    padding: 0;
    padding-top: 20px;
}
.marketing-txt ul li{ 
    color: #839393;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.accordion .accordion-button:focus{
    box-shadow: none;
}
.accordion .accordion-button:not(.collapsed){
    background-color: transparent;
    color: #00776d;
}
a.accordion-arrow-txt{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #252d31;
    font-weight: 500;
}
.cta-stay {
    background: linear-gradient(rgba(37, 45, 49, 0.7), rgba(37, 45, 49, 0.7)),url("cta.png") fixed no-repeat;
    color: #fff;
}

.review_section{
    background-color: rgba(150, 149, 149, 0.08);
}
.cst-card-outer {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.cst-card-outer::before{
    content: '';
    background-color: #00776d56;
    position: absolute;
    top: 0;
    left: 62px;
    z-index: -3;
    height: 200%;
    width: 180px;
    align-self: center;
}
.cst-card-outer .card {
    border-color: #00776d;
}
.cst-card-outer .client-h5{
    border-bottom: 4px solid #00776d;
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.cst-card-outer .client-desc img{
    opacity: .3;
    width: 40px;
}
.review_section .carousel-indicators {
    bottom: 50px;
}
.review_section .carousel-indicators button {
    width: 12px;
    height: 12px;
    background-color: rgba(0,119,109,.8);
    border-radius: 50%;
}
.team-card .card{
    overflow: hidden;
}
.team-social-icon {
    position: relative;
}
.team-social-icon ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);

}
.team-social-icon ul li a{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #252d31;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.team-social-icon ul li a:hover{
    background-color: #00776d;
}
.team-social-icon ul li a i{
    color: #fff;
    font-size: 18px;
}
.team-social-icon ul li{
    display: inline-block;
    transition: .4s ease-in-out;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.hover-effect{
    overflow: hidden;
}
.team-card .card:hover .team-social-icon ul li{
    transform: rotateX(0);
}
.team-card .card img{
  transition: transform .4s ease;
}

.team-card .card:hover img{
  transform: scale(1.1);
}
.cst-input .form-control{
    padding: 12px 20px;
    padding-left: 58px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}
.cst-input .input-icon-outer{
    position: relative;
}
.cst-input span.input-icon{
    padding: 12px 15px;
    border: none;
    background-color: #00776d;
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 6px;
}
button.btn.btn-primary {
    background: #00776d;
    border-color: #00776d;
    padding: 13px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: all .5s ease;
    position: relative;
}
.cst-input .form-check-input:checked {
    background-color: #00776d;
    border-color: #00776d;
}
button.btn.btn-primary:hover{
    transform: translateY(-6px);
    box-shadow: 0px 8px 20px -6px rgba(0, 119, 109, .6);
}
.main-header .cst_right_menubar{
    background-color: #fff;
}







@media (max-width: 1200px) {
.col-lg-8.full-slider-w {
    width: 85%;
}
}

@media (max-width: 991px) {
.menu-bar{
    display: block;
}
.main-nav{
    display: none;
}
.scrolled .nav-sign-btn .menu-bar {
    color: #00776d;
}
.cst_right_menubar .canvas-menu{
    padding: 0;
    margin: 0;
}
.cst_right_menubar .canvas-menu li{
    list-style: none;
    margin-bottom: 15px;
}
.cst_right_menubar .canvas-menu li a{
    text-decoration: none;
    color: #252d31;
    font-size: 18px;
}
.cst_right_menubar .logo a{
    color: #252d31;
    font-size: 30px;
}
.offcanvas-header{
    border-bottom: 1px solid #839393;
}
.cst-card-outer::before {
    content: none;
}
.cst-card-outer .col-lg-4{
    margin-bottom: 20px;
}
.review_section .carousel-indicators {
    bottom: -10px;
}
.cst-card-outer {
    border-color: #00776d;
    padding: 20px;
}
.cst-card-outer .card {
    border-color: #00776d;
    padding: 0 !important;
    overflow: hidden;
}
}

@media (max-width: 575px) {
.banner-bg-img {
    padding: 150px 0 80px 0;
}
.banner-content h1 {
    font-size: 32px;
}
a.btn {
    padding: 10px 15px;
    font-size: 14px !important;
}
.logo a {
    font-size: 28px;
}
.nav-sign-btn {
    gap: 8px;
}
.col-lg-8.full-slider-w {
    width: 100%;
}
.banner-content p{
    font-size: 16px !important;
}
.quick-sec a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    top: -20px;
}
.cst-input span.input-icon {
    padding: 10px;
}
.cst-input .form-control {
    padding: 11px 20px;
    padding-left: 48px;
}
}